
body{
    font-family: poppins;
}


.cotainer{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
}
.menu{
    width: 100%;
    height: 200px;
    /* background-color: blue; */
}
@media screen and (max-width:1032px) {
    .menu{
        width: 95%;
    }  
}
.menu h1{
    letter-spacing: 5px;
}
.menu {
    color: #fec35f;
    font-family: poppins;
    margin: auto;
    display: flex;
    align-items: center;
    width: 80%;
    height: 50px;
    /* background-color: darkseagreen; */
}
.list-menu {
    padding: 0%;
    margin: auto;
    width: 50%;
    /* background-color: deeppink; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}
.list-menu a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
    color: #323e72;
}

.button {
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: #eee;
    background-color: #e6ae4f;
    width: 7%;
    height: 40px;
}
.button:hover {
    background: rgb(104, 76, 230);
    background: linear-gradient(
    103deg,
    rgba(104, 76, 230, 1) 6%,
    rgba(250, 201, 85, 0.9671218829328606) 50%,
    rgba(104, 76, 230, 1) 100% );
}
.button a {
    color: #eee;
    text-decoration: none;
}

.title{
    padding: 0px 60px;
    margin-top: 118px;
    margin-left: auto;
    width: 60%;
    height: 150px;
    /* background-color: #8454f473; */
}

.title h4{
    color: rgb(90, 90, 90);
    margin-left: 40px;
    
}
.cars{
    width: 100%;
    height: 600px;
    /* background-color: cadetblue; */
}
.cars .he{
    width: 100%;
    height: 500px;
    /* background-color: #e6af4fb0; */
    /* border: 1px solid rgb(117, 117, 117); */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}
.cars .titre{
    margin: 30px 35px;
    height: 20px;
}
.he::-webkit-scrollbar{
    width: 0;
}
.car img{
    width: 265px;
    height: 151.24px;
}
.car{
    /* border: 1px solid rgb(129, 129, 129); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 500px;
    height: 450px;
    /* background-color: blueviolet; */
    margin: 10px;
    box-shadow: 0px 6px 6px 1px rgba(0, 0, 255, .2);
}

.car button{
    font-size: 18px;
    width: 200px;
    height: 80px;
    border: none;
    border-radius: 7px;
    background-color:rgb(104, 76, 230) ;
    color: white;
}
.cars h1{
    margin: auto;
}





/* moto!!!!!! */
.motos{
    width: 100%;
    height: 600px;
    /* background-color: cadetblue; */
}
.motos .he{
    width: 100%;
    height: 500px;
    /* background-color: #e6af4fb0; */
    /* border: 1px solid rgb(117, 117, 117); */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}
.motos .titre{
    margin: 30px 35px;
    height: 20px;
}
.he::-webkit-scrollbar{
    width: 0;
}
.moto img{
    width: 265px;
    height: 151.24px;
}
.moto{
    /* border: 1px solid rgb(129, 129, 129); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 500px;
    height: 450px;
    /* background-color: blueviolet; */
    margin: 10px;
    box-shadow: 7px 7px 6px 1px rgba(0, 0, 255, .2);
}

.moto button{
    font-size: 18px;
    width: 250px;
    height: 80px;
    border: none;
    border-radius: 7px;
    background-color:rgb(104, 76, 230) ;
    color: white;
}
.motos h1{
    margin: auto;
}

@media screen and (max-width:370px) {
    .menu h1 {
        font-size: 10px;
    }
    .menu {
    width: 100%;
    margin:auto;
    }
    .list-menu {
    font-size: 12px;
    display: flex;
    padding: 0 40px;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    }
    .button {
    width: 70px;
    }
    .title{
        width: 300px;
        /* background-color: tomato; */
        padding: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .title h1{
        font-size: 18px;
    }
    .title p{
        font-size: 12px;
    }
    .he .car{
        height: 320px;
        min-width:320px ;
    }
    .he .moto{
        height: 320px;
        min-width:320px ;
    }
    .cars .titre h1{
        font-size: 18px;
    }
    .cars .he{
        height: 351px;
    }
    .motos .he{
        height: 351px;
    }
    .motos{
        height: 390px;
    }
}














.plus{
    width: 100%;
    height: 100px;
}